@import "colors";
@import "sizes";
@import "fonts";

.nav-bar {

  border-color: transparent;
  background-color: $navbar_grey;

  .title {
    text-align: center;
    color: white;
  }

  &.navbar {
    border-radius: 0px;
  }

}

.navbar-nav {
  float: none;
}
